.about-me {
    display: flex;
    align-items: center;
    color:rgb(51, 49, 49);

    &__header {
        font-size: 30px;
    }

    &__paragraph {
        line-height: 1.9;
        font-size: 18px;

        @include rwd(mobile) {
            font-size: 16px;
            line-height: 1.5;
        }
    }

    &__image {
        margin-left: 30px;

        @include rwd(tablet) {
            display: none;
        }
    }
}
