.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(51, 49, 49);
    border-top: 1px solid #eee;
    padding: 5px;

    &_text {
        color: #eee;
    }
}
