.main-banner {
    background-image: url("../images/main_banner_background.jpg");
    height: 100vh;
    background-size: cover;
    justify-content: center;
    background-position: 5% 75%;
    align-items: center;

    &__blur {
        width: 100%;
        height: 100%;
        backdrop-filter: blur(2px);
    }
    &__inner {
        font-weight: bold;
        min-width: 60vw;
        position: absolute;
        z-index: 1;
        top: 25%;
        left: 5%;
    }

    &__hello,
    &__introduce {
        margin-block-end: 0.25em;
        margin-block-start: 0.25em;
        margin-right: 5%;
        text-shadow: black 4px 5px;
    }

    &__hello {
        color: rgb(255, 255, 150);
        font-size: 92px;
        letter-spacing: 3px;
    }

    &__introduce {
        color: rgb(255, 255, 255);
        font-size: 54px;
        letter-spacing: 2px;
    }
}
