.projects {
    background: $color-secondary;
    display: flex;
    align-items: center;
    color: $color-primary;

    &__header {
        font-size: $font-size-heading-primary-desktop;
    }

    &__paragraph {
        line-height: 1.9;
        font-size: 18px;

        @include rwd(mobile) {
            font-size: 16px;
            line-height: 1.5;
        }
    }
}
