*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  background: #eee;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100vw;
  z-index: 2;
  padding: 5px 0;
}

.navbar__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 20px;
}

.navbar__logo-image {
  width: 34px;
  margin-right: 10px;
}

.navbar__logo-link {
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 26px;
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  -webkit-transition-property: opacity, left, right;
  transition-property: opacity, left, right;
}

@media (max-width: 1199px) {
  .navbar__menu {
    position: fixed;
    top: 0;
    left: 100vw;
    bottom: 0;
    right: -35vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0;
    pointer-events: none;
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    z-index: -1;
  }
}

@media (max-width: 767px) {
  .navbar__menu {
    left: 100vw;
    right: -100vw;
  }
}

@media (max-width: 1199px) {
  .navbar__menu--open {
    opacity: 1;
    pointer-events: unset;
    left: 65vw;
    right: 0vw;
  }
}

@media (max-width: 767px) {
  .navbar__menu--open {
    left: 0vw;
  }
}

.navbar__menu-item {
  margin-left: 20px;
  padding: 5px;
  -webkit-transition: 100ms;
  transition: 100ms;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
}

@media (max-width: 1199px) {
  .navbar__menu-item {
    margin-left: 0;
    padding: 10px;
  }
}

.navbar__menu-item:hover {
  border-color: white;
}

@media (max-width: 1199px) {
  .navbar__menu-item:hover {
    border-color: transparent;
  }
}

.navbar__menu-link {
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

@media (max-width: 1199px) {
  .navbar__menu-link {
    font-size: 28px;
  }
}

.navbar__mbutton {
  display: none;
}

@media (max-width: 1199px) {
  .navbar__mbutton {
    background: transparent;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 42px;
    height: 34px;
    padding: 4px 4px;
    color: white;
    cursor: pointer;
  }
}

.navbar__mbutton-span {
  width: 30px;
  margin: 0px auto;
  height: 5px;
  border-radius: 1px;
  background: whitesmoke;
  display: block;
}

.main-banner {
  background-image: url("../images/main_banner_background.jpg");
  height: 100vh;
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: 5% 75%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-banner__blur {
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.main-banner__inner {
  font-weight: bold;
  min-width: 60vw;
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 5%;
}

.main-banner__hello, .main-banner__introduce {
  -webkit-margin-after: 0.25em;
          margin-block-end: 0.25em;
  -webkit-margin-before: 0.25em;
          margin-block-start: 0.25em;
  margin-right: 5%;
  text-shadow: black 4px 5px;
}

.main-banner__hello {
  color: #ffff96;
  font-size: 92px;
  letter-spacing: 3px;
}

@media (max-width: 767px) {
  .main-banner__hello {
    font-size: 72px;
  }
}

.main-banner__introduce {
  color: white;
  font-size: 42px;
  letter-spacing: 2px;
}

.container {
  width: 1180px;
  margin: auto;
  max-width: 100%;
  padding: 30px;
}

.container--smaller {
  width: 960px;
  padding: 0;
}

.about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333131;
}

.about-me__header {
  font-size: 30px;
}

.about-me__paragraph {
  line-height: 1.9;
  font-size: 18px;
}

@media (max-width: 767px) {
  .about-me__paragraph {
    font-size: 16px;
    line-height: 1.5;
  }
}

.about-me__image {
  margin-left: 30px;
}

@media (max-width: 1199px) {
  .about-me__image {
    display: none;
  }
}

.projects {
  background: #333131;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #eee;
}

.projects__header {
  font-size: 30px;
}

.projects__paragraph {
  line-height: 1.9;
  font-size: 18px;
}

@media (max-width: 767px) {
  .projects__paragraph {
    font-size: 16px;
    line-height: 1.5;
  }
}

.skills {
  color: #333131;
}

.skills__header {
  font-size: 30px;
}

.skills__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 30px;
}

@media (max-width: 1199px) {
  .skills__grid {
    padding: 10px;
  }
}

@media (max-width: 767px) {
  .skills__grid {
    padding: 0px;
  }
}

.skills__grid-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (20%)[5];
      grid-template-columns: repeat(5, 20%);
}

@media (max-width: 1199px) {
  .skills__grid-items {
    -ms-grid-columns: (25%)[4];
        grid-template-columns: repeat(4, 25%);
  }
}

@media (max-width: 767px) {
  .skills__grid-items {
    -ms-grid-columns: (33%)[3];
        grid-template-columns: repeat(3, 33%);
  }
}

.skills__grid-item {
  width: 100%;
  padding: 20px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: -webkit-filter 0.25s ease-out;
  transition: -webkit-filter 0.25s ease-out;
  transition: filter 0.25s ease-out;
  transition: filter 0.25s ease-out, -webkit-filter 0.25s ease-out;
}

.skills__grid-item:hover {
  -webkit-filter: none;
          filter: none;
  -webkit-animation: grayer 2s ease-in-out infinite;
          animation: grayer 2s ease-in-out infinite;
}

@media (max-width: 1199px) {
  .skills__grid-item {
    padding: 15px;
    -webkit-filter: none;
            filter: none;
    -webkit-transition: none;
    transition: none;
  }
}

@media (max-width: 767px) {
  .skills__grid-item {
    padding: 10px;
  }
}

.skills__grid-icon {
  width: 100%;
}

@-webkit-keyframes grayer {
  0% {
    background: #eee;
  }
  50% {
    background: #d4d4d4;
  }
  100% {
    background: #eee;
  }
}

@keyframes grayer {
  0% {
    background: #eee;
  }
  50% {
    background: #d4d4d4;
  }
  100% {
    background: #eee;
  }
}

.contact {
  background: #333131;
  color: #eee;
}

.contact__header {
  font-size: 30px;
}

.contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  .contact__info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 25px;
  }
}

.contact__info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 30px;
}

.contact__info-icon {
  margin-right: 10px;
  height: 25px;
}

.contact__info-link {
  text-decoration: none;
  color: #eee;
  font-size: 22px;
}

@media (max-width: 767px) {
  .contact__info-link {
    font-size: 16px;
  }
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

.contact__form-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -8px;
}

.contact__form-field {
  width: calc(50% - 16px);
  margin: 8px;
  background: transparent;
  border: 2px solid;
  color: #eee;
  padding: 12px;
}

.contact__form-field::-webkit-input-placeholder {
  color: #eee;
  text-transform: uppercase;
}

.contact__form-field:-ms-input-placeholder {
  color: #eee;
  text-transform: uppercase;
}

.contact__form-field::-ms-input-placeholder {
  color: #eee;
  text-transform: uppercase;
}

.contact__form-field::placeholder {
  color: #eee;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .contact__form-field {
    width: calc(100% - 16px);
  }
}

.contact__form-field--full-row {
  width: calc(100% - 16px);
}

.contact__form-submit-button {
  display: block;
  margin: 30px auto 0 auto;
  border: none;
  padding: 20px 30px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact__form-submit-button:hover {
  background: white;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #333131;
  border-top: 1px solid #eee;
  padding: 5px;
}

.footer_text {
  color: #eee;
}
/*# sourceMappingURL=index.css.map */