*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100vw;
  z-index: 2;
  padding: 5px 0;
}

.navbar__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 20px;
}

.navbar__logo-image {
  width: 34px;
  margin-right: 10px;
}

.navbar__logo-link {
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 26px;
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  -webkit-transition-property: opacity, left, right;
  transition-property: opacity, left, right;
}

@media (max-width: 1199px) {
  .navbar__menu {
    position: fixed;
    top: 0;
    left: 100vw;
    bottom: 0;
    right: -35vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0;
    pointer-events: none;
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    z-index: -1;
  }
}

@media (max-width: 767px) {
  .navbar__menu {
    left: 100vw;
    right: -100vw;
  }
}

@media (max-width: 1199px) {
  .navbar__menu--open {
    opacity: 1;
    pointer-events: unset;
    left: 65vw;
    right: 0vw;
  }
}

@media (max-width: 767px) {
  .navbar__menu--open {
    left: 0vw;
  }
}

.navbar__menu-item {
  margin-left: 20px;
  padding: 5px;
  -webkit-transition: 100ms;
  transition: 100ms;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
}

@media (max-width: 1199px) {
  .navbar__menu-item {
    margin-left: 0;
    padding: 10px;
  }
}

.navbar__menu-item:hover {
  border-color: white;
}

@media (max-width: 1199px) {
  .navbar__menu-item:hover {
    border-color: transparent;
  }
}

.navbar__menu-link {
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

@media (max-width: 1199px) {
  .navbar__menu-link {
    font-size: 28px;
  }
}

.navbar__mbutton {
  display: none;
}

@media (max-width: 1199px) {
  .navbar__mbutton {
    background: transparent;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 42px;
    height: 34px;
    padding: 4px 4px;
    color: white;
    cursor: pointer;
  }
}

.navbar__mbutton-span {
  width: 30px;
  margin: 0px auto;
  height: 5px;
  border-radius: 1px;
  background: whitesmoke;
  display: block;
}

.main-banner {
  background-image: url("../images/main_banner_background.jpg");
  height: 100vh;
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: 5% 75%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-banner__blur {
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.main-banner__inner {
  font-weight: bold;
  min-width: 60vw;
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 5%;
}

.main-banner__hello, .main-banner__introduce {
  -webkit-margin-after: 0.25em;
          margin-block-end: 0.25em;
  -webkit-margin-before: 0.25em;
          margin-block-start: 0.25em;
  margin-right: 5%;
  text-shadow: black 4px 5px;
}

.main-banner__hello {
  color: #ffff96;
  font-size: 92px;
  letter-spacing: 3px;
}

.main-banner__introduce {
  color: white;
  font-size: 54px;
  letter-spacing: 2px;
}
/*# sourceMappingURL=index.css.map */