// Fonts
$font-primary: "Raleway", sans-serif;
$font-size-heading-primary-desktop: 30px;
$font-size-heading-primary-mobile: 30px;
$font-size-text: 16px;

// Colors
$color-primary: #eee;
$color-secondary: rgb(51, 49, 49);
